*{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(to left, black, rgb(39, 37, 37));
    font-family: monospace;
    
}
header h1
{
    text-align: center;
    background: linear-gradient(to left, red, orange);
    background: linear-gradient(to right, red, orange);
    font-size: 60px;
    margin: 0px;
    padding: 5px;
}
nav
{
    font-size: 20px;
    background: linear-gradient(to left, red, orange);
    background: linear-gradient(to right, red, orange);
    margin: 0px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    word-spacing: 40px;
}
a
{
    text-decoration: none;
    color: black;
    transition-property: all 1s;
}
a:hover
{
    padding: 5px;
    color: white;
    transition: 0.5s all;
    border: 4px black solid;
    border-radius: 20px;
}
.foot
{
    border-bottom: 10px orangered solid;
    background: linear-gradient(to left, red, orange);
    background: linear-gradient(to right, red, orange);
    font-size: 20px;
    margin: 0px;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    word-spacing: 40px;
}
.copyright
{
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.back-to-top
{
    position: fixed;
    right: 20px;
    bottom: 10px;
}
